/languages/*        linguist-vendored
/.tx              	linguist-vendored
/.*					export-ignore
/codesniffer.xml    export-ignore
/composer.json		export-ignore
/composer.lock		export-ignore
/phpunit.xml.dist   export-ignore
/Gruntfile.js       export-ignore
/gulpfile.js		export-ignore
/package.json		export-ignore
/node_modules/*		export-ignore
/tests              export-ignore
/build				export-ignore
/README.md			export-ignore
/assets/sass		export-ignore
/assets/browserify	export-ignore
/sample-code-snippets export-ignore
