.DS_Store
.sass-cache/
node_modules/
build/
phpunit.xml
composer.lock

# Exclude everything in /vendor except our autoload stuff
vendor/*
!vendor/composer
!vendor/autoload_52.php
vendor/composer/installers

