parameters:
    level: 4
    paths:
      - mailchimp-for-wp.php
      - autoload.php
      - includes/
      - config/
      - sample-code-snippets/
    scanDirectories:
      - integrations/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
      - identifier: function.notFound
        path: sample-code-snippets/
      - identifier: class.notFound
        path: sample-code-snippets/
      - identifier: ternary.alwaysTrue
        path: sample-code-snippets/
      - identifier: booleanNot.alwaysTrue
        path: sample-code-snippets/
      - identifier: variable.undefined
        path: 'includes/*views/*'
