<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutOutputDuringTests="true"
		 colors="true"
		 failOnWarning="true"
		 processIsolation="false"
		 stopOnError="false"
		 stopOnFailure="false"
		 verbose="true"
		 bootstrap="./tests/bootstrap.php">
	<testsuites>
		<testsuite name="phplist-for-wordpress">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
		<blacklist>
			<directory>./vendor/</directory>
		</blacklist>
	</filter>
	 <php>
         <ini name="display_errors" value="true"/>
    </php>
</phpunit>
