/* Grid */
.row{
	margin: 20px -20px;
	float: none;
}

.row:after{
	content: "";
	clear: both;
	display: table;
}

.row .col {
	padding: 0 20px;
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.row .col-1 {
	width: 16.666%;
}

.row .col-2 {
	width: 33.333%;
}

.row .col-3 {
	width: 50%;
}

.row .col-4 {
	width: 66.666%;
}

.row .col-5 {
	width: 83.333%;
}

.row .col-6 {
	width: 100%;
}

@media( max-width: 1200px ) {
	.row .col {
		width: 100%;
		float: none;
		margin: 20px 0;
	}
}