$width: 360px;

.lucy {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	box-shadow: 0 0 20px #333;
	background: #cc4444;
	width: auto;
	font-size: 14px;

	&.open {
		bottom: 0;
		border: 1px solid black;
		border-bottom: 0;
		width: 320px;

		@media( max-width: $width ) {
			width: 100%;
			right: 0;
			font-size: 13px;
			.dashicons { display: none; }
		}
	}

	// open button
	.lucy-button{
		display: block;
		text-align: center;
		padding: 0 20px;
		color: white;
		cursor: pointer;
		line-height: 40px;

		&:after {
			content: "\f468";
			font-size: 24px;
			margin-left: 10px;
			font-family: "dashicons";
			vertical-align: middle;
		}

		@media( max-width: $width ) {
			.lucy-button-text {
				display: none;
			}

			&:after { margin: 0; }
		}
	}

	.close-icon {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		cursor: pointer;
		opacity: 0.9;

		&:after {
			background: white;
			color: #666;
			font-family: "dashicons";
			font-size: 20px;
			border-radius: 50%;
			content: "\f158";
		}

		&:hover {
			opacity: 1;
		}
	}

	.search-form {
		position: relative;

		[type="submit"] {
			display: none;
		}

		input {
			width: 100%;
			display: block;
			padding: 6px 20px 6px 6px;
		}

		.loader {
			position: absolute;
			right: 10px;
			top: 0;
			bottom: 0;
			color: #ccc;
			vertical-align: middle;
			line-height: 55%;
			font-size: 24px;
		}
	}

	.header {
		color: white;
		padding: 10px;

		h3, h4{
			color: white;
			margin-top: 0;
		}
	}

	.list {
		background: white;

		.search-pending {
			padding: 20px 10px;
		}

		.search-results a {
			padding: 8px 10px;
		}

		.links a {
			padding: 12px 10px;

			.dashicons {
				color: #555;
				margin-right: 10px;
			}
		}
	}

	.search-results > *,
	.links > * {
		display: block;
		padding: 8px 10px;
		border-bottom: 1px solid #efefef;
		text-decoration: none;

		&:last-child{
			border-bottom: 0;
		}
	}

	.footer {
		text-align: center;
		padding: 10px 10px 20px;
		background: #efefef;

		span {
			display: block;
			font-weight: bold;
			margin-bottom: 10px;
		}
	}

} // end .lucy wrapper

