.rtl {
	 #mc4wp-admin {

		 .page-title {
			 background-position: right center;
			 padding-left: 0;
			 padding-right: 42px;
		 }

		.CodeMirror-scroll {
			overflow-y: hidden !important;
		}

		.CodeMirror-vscrollbar {
			left:  0 !important;;
			right: auto !important;;
		}

	 }
	}
