@import "variables";

#mc4wp-admin,
.mc4wp-admin {

	@import "admin-grid";
	@import "admin-utilities";
	@import "admin-tabs";
	@import "form-editor";

	/* Add logo to page title */
	.page-title {
		background: url( "../img/icon-large.png" ) no-repeat left center;
		padding-left: 42px;
		line-height: 32px;
		margin-bottom: 20px;

		small {
			font-size: 12px;
			color: #777;
			display: inline-block;
			margin-left: 10px;
		}
	}

	/** Core Customizations */
	.page-title-action .dashicons,
	.button .dashicons,
	.button-secondary .dashicons {
		vertical-align: middle;
		line-height: 16px;
		margin: 0 4px 0 0;
	}

	.form-table td p{
		margin-top: 1em;
	}

	.sidebar {
		border-left: 1px solid $divider_color;
	}

	.sidebar h3,
	.sidebar h4 {
		font-size: 16px;
		margin-bottom: 0;
	}

	.sidebar > div {
		border-bottom: 1px solid $divider_color;
		margin-bottom: 20px;
		padding-bottom: 20px;

		&:last-of-type {
			border-bottom: 0;
		}
	}

}

.mc4wp-log { font-family: monaco, monospace, courier, 'courier new', 'Bitstream Vera Sans Mono'; font-size: 13px; resize: vertical; line-height: 140%; height: 200px; padding: 6px; border:1px solid #ccc; background: #262626; color: white; overflow-y: scroll; }
.mc4wp-log .time { color: rgb(181, 137, 0); }
.mc4wp-log .level { color: #35AECD; }
.mc4wp-log .debug-log-empty { color: #ccc; font-style: italic; }
.mc4wp-log .hidden { display: none; }
.mc4wp-log a{ color: #ccc; text-decoration: underline; }

@import "overlay";
@import "rtl";