/* MailChimp for WP - Checkbox Styles */
#mc4wp-checkbox {

	clear: both;
	display: block;
	position: static;
	width: auto;

	input {
		float: none;
		width: auto;
		position: static;
		margin: 0 6px 0 0;
		padding: 0;
		vertical-align: middle;
		display: inline-block !important;
		max-width: 21px;
		-webkit-appearance: checkbox;
	}

	label {
		float: none;
		display: block;
		cursor: pointer;
		width: auto;
		position: static;
	}

}

#_mc4wp_subscribe_woocommerce_checkout_field {
	label,
	input{
		float: none !important;
		width: auto !important;
		display: inline-block !important;
	}
}



#registerform #mc4wp-checkbox{
	margin-bottom: 10px;
}