/* MailChimp for WP - Checkbox Styles */
#mc4wp-checkbox{

  clear: both;
  display: block;

  input {
    position: relative;
    margin: 0 6px 0 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block !important;
    max-width: 21px;
  }

  label {
    display: block;
    cursor: pointer;
    width: auto;
		position: static;
  }

}

#registerform #mc4wp-checkbox{
  margin-bottom: 10px;
}