@import "variables";
@import "codemirror";

/* Codemirror */
.CodeMirror {
	border: 1px solid $divider_color;
	padding: 10px;
	min-height: 500px;
}
.CodeMirror-empty{
	color: #999;
}

.field-wizard {

	h3{
		margin-top: 0;
		padding-bottom: 12px;
		border-bottom: 1px solid #eee;
		margin-bottom: 12px;
	}

	code {
		margin-left: 10px;
	}

	> div {
		margin: 24px 0;
	}

	label{
		font-weight: 600;
		display: block;
		margin-bottom: 3px;
	}


	/* table */
	table {
		table-layout: fixed;
		border-collapse: collapse;
		border-spacing: 0;
	}

	tr, td {
		vertical-align: middle;
	}

	td.stretch {
		width: 100%;
	}

	/* checkboxes in label */
	.cb-wrap{
		font-weight: normal;

		input { margin-right: 6px; }
	}

	.limit-height {
		border: 1px solid #eee;
		padding: 6px;
		max-height: 200px;
		overflow-y: scroll;
	}

	.dashicons {
		vertical-align: middle;
	}

	.help {
		margin-top: 0;
	}


}

.available-fields {

	strong {
		display: block;
		margin-bottom: 10px;
	}

	button{
		margin: 0 6px 6px 0;
	}

	.is-required {
		&:after {
			content: " *";
			color: red;
		}
	}

	.is-required.not-in-form {
		-webkit-box-shadow:  0 0 3px 1px red;
		-moz-box-shadow:  0 0 3px 1px red;
		box-shadow: 0 0 3px 1px red;
	}

	.in-form {
		opacity: 0.5;
	}

	border: 1px solid #ccc;
	padding: 20px;
	background: white;
}