@import "form-reset";
@import "mixins";

// varying CSS based on a base color
@mixin form-theme-variant( $base_color ) {

	$base_color_darkened: darken( $base_color, 15% );

	input[type="submit"],
	button {
		color: set-text-color($base_color) !important;
		background-color: $base_color !important;
		border-color: $base_color_darkened;
	}

	input[type="submit"]:hover,
	button:hover,
	input[type="submit"]:active,
	button:active,
	input[type="submit"]:focus,
	button:focus {
		color: set-text-color($base_color_darkened) !important;
		background-color: $base_color_darkened !important;
		border-color: darken( $base_color, 30% );
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="tel"]:focus,
	input[type="url"]:focus,
	input[type="date"]:focus,
	textarea:focus,
	select:focus {
		@if( lightness( $base_color ) < 60 ) {
			border-color: lighten( $base_color, 15% );
		} @else {
			border-color: darken( $base_color, 15% );
		}

		$value: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($base_color, 0.15);
		@include vendor-prefix("box-shadow", $value);
	}
}


/* Form base theme */
.mc4wp-form-theme {

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="url"],
	input[type="date"],
	input[type="number"],
	textarea,
	select {
		height: auto;
		margin: 0;
		padding: 8px 16px;
		line-height: 1.428571429;
		color: #555555 !important;
		vertical-align: middle;
		background: none;
		background-color: #ffffff;
		border: 1px solid #cccccc;
		@include vendor-prefix( border-radius, 2px);
		@include vendor-prefix( box-shadow, "inset 0 1px 1px rgba(0, 0, 0, 0.075)" );
		text-shadow: none;
	}

	input:focus,
	textarea:focus,
	select:focus,
	button:focus {
		outline: 0;
		background-image: none;
	}

	textarea{
		height: auto;
	}

	input[readonly],
	input[disabled] {
		background-color: #eeeeee;
	}

	input[type="submit"],
	input[type="button"],
	button {
		display: inline-block;
		padding: 8px 16px;
		margin: 0;
		font-weight: normal;
		line-height: 1.428571429;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		border: 1px solid transparent;
		border-radius: 2px;
		@include vendor-prefix( user-select, none );
		box-shadow: none;
		background: none;
		text-shadow: none;
		filter: none;
		height: auto;
		width: auto;
	}

	input[type="submit"]:hover,
	input[type="button"]:hover,
	button:hover,
	input[type="submit"]:focus,
	input[type="button"]:focus,
	button:focus {
		outline: 0;
		color: #333333;
		text-decoration: none;
		background: none;
	}

}


.mc4wp-form-theme-dark {
	@include form-theme-variant(#444444 )
}

.mc4wp-form-theme-light {
	@include form-theme-variant(#ffffff )
}

.mc4wp-form-theme-red {
	@include form-theme-variant(#d9534f);
}

.mc4wp-form-theme-blue {
	@include form-theme-variant(#428bca);
}

.mc4wp-form-theme-green {
	@include form-theme-variant(#5cb85c);
}
