@import "form-reset";
@import "form-theme-base";

.mc4wp-form input[type="submit"],
.mc4wp-form button {
  color: #333333 !important;
  background-color: #ffffff !important;
  border-color: #E6E6E6;
}

.mc4wp-form input[type="submit"]:hover,
.mc4wp-form button:hover,
.mc4wp-form input[type="submit"]:active,
.mc4wp-form button:active,
.mc4wp-form input[type="submit"]:focus,
.mc4wp-form button:focus {
  color: #E6E6E6 !important;
  background-color: #ebebeb !important;
  border-color: #CCCCCC;
}