/* settings pages */
#mc4wp-admin .page-title {
	background: url( "../img/icon-large.png" ) no-repeat left center;
	padding-left: 42px;
	line-height: 32px;
	margin-bottom: 20px;
}

/* Grid */
.row{
	margin: 20px -20px;
}

.row:after{
	content: "";
	clear: both;
	display: table;
}

.row .col {
	padding: 0 20px;
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.row .col-1 {
	width: 16.666%;
}

.row .col-2 {
	width: 33.333%;
}

.row .col-3 {
	width: 50%;
}

.row .col-4 {
	width: 66.666%;
}

.row .col-5 {
	width: 83.333%;
}

.row .col-6 {
	width: 100%;
}

/* Main Content */

/* Sidebar */
.sidebar {
	border-left: 1px solid #ccc;
}

/* General */
.valigntop{ 
	vertical-align: top !important; 
}

.mc4wp-box{
	margin-bottom:20px; 
}

.mc4wp-box label {
	font-weight: bold;
}

#mc4wp-fw-fields { 
	display:none; 
}

#mc4wp-fw-preview { 
	font-family: "Courier New", Courier, monospace;
	min-height:200px;
	font-size:11px;
	background:white;
	z-index:99; 
}

#mc4wp-lists{ 
	margin:0; 
}

#mc4wp-lists input{ 
	margin-right:5px; 
}

.pro-feature, 
.mc4wp-settings tr.pro-feature th,
.mc4wp-settings tr.pro-feature td{
	color:#aaa;
}

#mc4wp-admin .status{
	display:inline-block;
	margin-left:1em;
	padding:3px 6px;
	color:white;
	font-size:12px;
	font-weight:bold;
}
#mc4wp-admin .positive{
	background-color:limeGreen;
}

#mc4wp-admin .negative{
	background-color: red;
}

#mc4wp-admin .neutral{
	background: gray;
}

#mc4wp-admin table th{
	text-align:left; 
}

#mc4wp-admin table.form-table tr td:first-child,
#mc4wp-admin table.form-table tr th:first-child{
	padding-left:0; 
}

#mc4wp-admin td.nowrap{
	white-space: nowrap
}

.mc4wp-notice{
	padding: 6px 12px;
	color: #31708f;
	background: #d9edf7;
	border: 1px solid #bce8f1;
	margin: 1em 0 !important;
}

table.mc4wp-help,
table.mc4wp-help th, 
table.mc4wp-help td { 
	border: 1px solid #ddd; 
	border-collapse: collapse; 
	font-size: 12px; 
}

table.mc4wp-help th, 
table.mc4wp-help td { 
	vertical-align: text-top; 
	text-align: left; 
	padding: 5px 10px; 
}

table.mc4wp-help tr:hover { 
	background-color: #ddd; 
}

/** Lists Overview */
.mc4wp-lists-overview {
	border-collapse: collapse;
	background: white;
	padding: 20px;
	max-height: 500px;
	overflow-y: scroll;
}

.mc4wp-lists-overview table {
	border: 0;
}

.mc4wp-lists-overview th {
	font-weight: bold;
	vertical-align: top;
}

.mc4wp-lists-overview th,
.mc4wp-lists-overview td {
	border: 1px solid #efefef;
}

.mc4wp-lists-overview h3{
	margin: 0 !important;
}


@media(max-width: 860px) {

	.mc4wp-hide-smallscreens{ 
		display: none;
	}
	
}

/** Tabs */
#mc4wp-tabs .tab {
	display: none;
}

#mc4wp-tabs .tab.tab-active {
	display: block;
}

#mc4wp-tabs .tab h2 {
	margin-top: 20px;
}

/** Whitespace control */
.medium-margin {
	margin: 40px 0;
}

.small-margin {
	margin: 20px 0;
}

/** Core Customizations */
.page-title-action .dashicons,
.button .dashicons,
.button-secondary .dashicons {
	vertical-align: middle;
	line-height: 16px;
	margin: 0 4px 0 0;
}

/* Codemirror */
.CodeMirror {
	border: 1px solid #333;
}