/* settings pages */
#mc4wp-admin,
.mc4wp-admin {
  /* Grid */
  /** Whitespace control */
  /* Tabs */
  /* settings pages */
  /* Codemirror */
  /* Add logo to page title */
  /** Core Customizations */ }
  #mc4wp-admin .row,
  .mc4wp-admin .row {
    margin: 20px -20px; }
  #mc4wp-admin .row:after,
  .mc4wp-admin .row:after {
    content: "";
    clear: both;
    display: table; }
  #mc4wp-admin .row .col,
  .mc4wp-admin .row .col {
    padding: 0 20px;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #mc4wp-admin .row .col-1,
  .mc4wp-admin .row .col-1 {
    width: 16.666%; }
  #mc4wp-admin .row .col-2,
  .mc4wp-admin .row .col-2 {
    width: 33.333%; }
  #mc4wp-admin .row .col-3,
  .mc4wp-admin .row .col-3 {
    width: 50%; }
  #mc4wp-admin .row .col-4,
  .mc4wp-admin .row .col-4 {
    width: 66.666%; }
  #mc4wp-admin .row .col-5,
  .mc4wp-admin .row .col-5 {
    width: 83.333%; }
  #mc4wp-admin .row .col-6,
  .mc4wp-admin .row .col-6 {
    width: 100%; }
  @media (max-width: 1200px) {
    #mc4wp-admin .row .col,
    .mc4wp-admin .row .col {
      width: 100%;
      float: none;
      margin: 20px 0; } }
  #mc4wp-admin .status,
  .mc4wp-admin .status {
    display: inline-block;
    margin-left: 1em;
    padding: 3px 6px;
    color: white;
    font-size: 12px;
    font-weight: bold; }
    #mc4wp-admin .status.positive,
    .mc4wp-admin .status.positive {
      background-color: limeGreen; }
    #mc4wp-admin .status.negative,
    .mc4wp-admin .status.negative {
      background-color: red; }
    #mc4wp-admin .status.neutral,
    .mc4wp-admin .status.neutral {
      background: gray; }
  #mc4wp-admin .valigntop,
  .mc4wp-admin .valigntop {
    vertical-align: top !important; }
  #mc4wp-admin .medium-margin,
  .mc4wp-admin .medium-margin {
    margin: 40px 0; }
  #mc4wp-admin .small-margin,
  .mc4wp-admin .small-margin {
    margin: 20px 0; }
  #mc4wp-admin .hover-activated,
  .mc4wp-admin .hover-activated {
    opacity: 0.5; }
  #mc4wp-admin .hover-activated:hover,
  .mc4wp-admin .hover-activated:hover {
    cursor: pointer;
    opacity: 1; }
  #mc4wp-admin .help-text,
  .mc4wp-admin .help-text {
    font-size: 14px; }
    #mc4wp-admin .help-text p,
    .mc4wp-admin .help-text p {
      margin: 10px 0;
      font-size: 14px; }
    #mc4wp-admin .help-text ul,
    .mc4wp-admin .help-text ul {
      list-style: square;
      margin-top: 15px;
      padding-left: 40px; }
  #mc4wp-admin .help,
  .mc4wp-admin .help {
    font-style: italic; }
  #mc4wp-admin .muted,
  .mc4wp-admin .muted {
    color: #aaa; }
  #mc4wp-admin .red,
  .mc4wp-admin .red {
    color: red; }
  #mc4wp-admin .green,
  .mc4wp-admin .green {
    color: #32cd32; }
  #mc4wp-admin .mc4wp-notice,
  .mc4wp-admin .mc4wp-notice {
    padding: 6px 12px;
    color: #31708f;
    background: #d9edf7;
    border: 1px solid #bce8f1;
    margin: 1em 0 !important; }
  #mc4wp-admin .column-ID,
  .mc4wp-admin .column-ID {
    width: 10%; }
  #mc4wp-admin .block,
  .mc4wp-admin .block {
    display: block; }
  #mc4wp-admin .code-sample,
  .mc4wp-admin .code-sample {
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    background: white; }
  #mc4wp-admin .breadcrumbs,
  .mc4wp-admin .breadcrumbs {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em; }
  #mc4wp-admin .tab,
  .mc4wp-admin .tab {
    display: none; }
  #mc4wp-admin .tab.tab-active,
  .mc4wp-admin .tab.tab-active {
    display: block; }
  #mc4wp-admin .tab h2,
  .mc4wp-admin .tab h2 {
    margin-top: 20px; }
  #mc4wp-admin .CodeMirror,
  .mc4wp-admin .CodeMirror {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 500px; }
  #mc4wp-admin .CodeMirror-empty,
  .mc4wp-admin .CodeMirror-empty {
    color: #999; }
  #mc4wp-admin .field-wizard,
  .mc4wp-admin .field-wizard {
    /* table */
    /* checkboxes in label */ }
    #mc4wp-admin .field-wizard h3,
    .mc4wp-admin .field-wizard h3 {
      margin-top: 0; }
    #mc4wp-admin .field-wizard code,
    .mc4wp-admin .field-wizard code {
      margin-left: 10px; }
    #mc4wp-admin .field-wizard > div,
    .mc4wp-admin .field-wizard > div {
      margin: 20px 0; }
    #mc4wp-admin .field-wizard label,
    .mc4wp-admin .field-wizard label {
      font-weight: 600;
      display: block;
      margin-bottom: 4px; }
    #mc4wp-admin .field-wizard input,
    .mc4wp-admin .field-wizard input {
      margin-bottom: 6px; }
    #mc4wp-admin .field-wizard table,
    .mc4wp-admin .field-wizard table {
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0; }
    #mc4wp-admin .field-wizard tr, #mc4wp-admin .field-wizard td,
    .mc4wp-admin .field-wizard tr,
    .mc4wp-admin .field-wizard td {
      vertical-align: middle; }
    #mc4wp-admin .field-wizard td.stretch,
    .mc4wp-admin .field-wizard td.stretch {
      width: 100%; }
    #mc4wp-admin .field-wizard .cb-wrap,
    .mc4wp-admin .field-wizard .cb-wrap {
      font-weight: normal; }
      #mc4wp-admin .field-wizard .cb-wrap input,
      .mc4wp-admin .field-wizard .cb-wrap input {
        margin-right: 6px; }
    #mc4wp-admin .field-wizard .limit-height,
    .mc4wp-admin .field-wizard .limit-height {
      border: 1px solid #eee;
      padding: 6px;
      max-height: 200px;
      overflow-y: scroll; }
    #mc4wp-admin .field-wizard .dashicons,
    .mc4wp-admin .field-wizard .dashicons {
      vertical-align: middle; }
  #mc4wp-admin .available-fields,
  .mc4wp-admin .available-fields {
    border: 1px solid #ccc;
    padding: 20px;
    background: white; }
    #mc4wp-admin .available-fields strong,
    .mc4wp-admin .available-fields strong {
      display: block;
      margin-bottom: 10px; }
    #mc4wp-admin .available-fields button,
    .mc4wp-admin .available-fields button {
      margin: 0 6px 6px 0; }
    #mc4wp-admin .available-fields .is-required:after,
    .mc4wp-admin .available-fields .is-required:after {
      content: " *";
      color: red; }
    #mc4wp-admin .available-fields .is-required.not-in-form,
    .mc4wp-admin .available-fields .is-required.not-in-form {
      -webkit-box-shadow: 0 0 3px 1px red;
      -moz-box-shadow: 0 0 3px 1px red;
      box-shadow: 0 0 3px 1px red; }
    #mc4wp-admin .available-fields .in-form,
    .mc4wp-admin .available-fields .in-form {
      opacity: 0.5; }
  #mc4wp-admin .page-title,
  .mc4wp-admin .page-title {
    background: url("../img/icon-large.png") no-repeat left center;
    padding-left: 42px;
    line-height: 32px;
    margin-bottom: 20px; }
  #mc4wp-admin .page-title-action .dashicons,
  #mc4wp-admin .button .dashicons,
  #mc4wp-admin .button-secondary .dashicons,
  .mc4wp-admin .page-title-action .dashicons,
  .mc4wp-admin .button .dashicons,
  .mc4wp-admin .button-secondary .dashicons {
    vertical-align: middle;
    line-height: 16px;
    margin: 0 4px 0 0; }
  #mc4wp-admin .form-table td p,
  .mc4wp-admin .form-table td p {
    margin-top: 1em; }
  #mc4wp-admin .sidebar,
  .mc4wp-admin .sidebar {
    border-left: 1px solid #ccc; }
  #mc4wp-admin .sidebar h3,
  #mc4wp-admin .sidebar h4,
  .mc4wp-admin .sidebar h3,
  .mc4wp-admin .sidebar h4 {
    font-size: 16px;
    margin-bottom: 0; }
  #mc4wp-admin .sidebar > div,
  .mc4wp-admin .sidebar > div {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px; }
    #mc4wp-admin .sidebar > div:last-of-type,
    .mc4wp-admin .sidebar > div:last-of-type {
      border-bottom: 0; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  padding: 20px;
  width: 100%;
  max-width: 480px;
  max-height: 100%;
  background: #fefefe;
  border: 1px solid #ccc;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .overlay .close {
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.5; }
  .overlay .close:hover {
    opacity: 1; }

.overlay-background {
  z-index: 99998;
  background: rgba(0, 0, 0, 0.67);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }
