#mc4wp-content{ float:left; width:65%; margin-right:0; }
#mc4wp-sidebar{ float:right; width:32%; margin:0; padding:9px 0 0; }
#mc4wp-sidebar .mc4wp-box{ margin-bottom:20px; }

#mc4wp-upgrade-box { background:#222; color:#ddd; padding:20px; }
#mc4wp-upgrade-box h3{ margin:0; }

#mc4wp-fw h4{ margin-top:0; }
#mc4wp-fw-fields { display:none; }
#mc4wp-fw-preview { font-family: "Courier New", Courier, monospace; font-size:11px; }
#mc4wp-lists{ margin:0; }
#mc4wp-lists input{ margin-right:5px; }

.mc4wp-settings tr.pro-feature th, .mc4wp-settings tr.pro-feature td{ color:#aaa; }

.mc4wp-settings h3{ margin-top:2em;}
.mc4wp-settings span.status{ display:inline-block; padding:3px 6px; color:white; font-size:12px; font-weight:bold;  }
.mc4wp-settings span.positive{ background-color:green; }
.mc4wp-settings span.negative{ background-color:lightGrey; }
.mc4wp-settings table th{ text-align:left; }
.mc4wp-settings table.form-table tr td:first-child, .mc4wp-settings table.form-table tr th:first-child{ padding-left:0; }
.mc4wp-settings p.copyright-notice{ font-style:italic; }
.mc4wp-settings td.nowrap{ white-space: nowrap }
.mc4wp-settings td.desc{ font-style:italic; font-size:11px; }

.mc4wp-settings .mc4wp-wrapper{ clear:both; width:100%; display:block; }
.mc4wp-settings .mc4wp-col { float:left; margin:0 1%; padding:0;  }
.mc4wp-settings .mc4wp-col-2-3{ width:64%; }
.mc4wp-settings .mc4wp-col-1-3{ width:34%; }
.mc4wp-settings .mc4wp-first{ margin-left:0; }
.mc4wp-settings .mc4wp-last{ margin-right:0; }
.mc4wp-settings .mc4wp-well{ background:#efefef; padding:10px; 
	border:1px solid #ccc;
	-webkit-border-radius: 3px; border-radius: 3px;
	-moz-border-radius: 3px; }

table.mc4wp-help, table.mc4wp-help th, table.mc4wp-help td { border: 1px solid #ddd; border-collapse: collapse; font-size: 12px; }
table.mc4wp-help th, table.mc4wp-help td { vertical-align: text-top; text-align: left; padding: 5px 10px; }
table.mc4wp-help tr:hover { 	background-color: #ddd; }