/* settings pages */
#mc4wp-admin {
  /* Grid */
  /** Whitespace control */
  /* Tabs */
  /* Add logo to page title */
  /** Core Customizations */
  /* Codemirror */ }
  #mc4wp-admin .row {
    margin: 20px -20px; }
  #mc4wp-admin .row:after {
    content: "";
    clear: both;
    display: table; }
  #mc4wp-admin .row .col {
    padding: 0 20px;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #mc4wp-admin .row .col-1 {
    width: 16.666%; }
  #mc4wp-admin .row .col-2 {
    width: 33.333%; }
  #mc4wp-admin .row .col-3 {
    width: 50%; }
  #mc4wp-admin .row .col-4 {
    width: 66.666%; }
  #mc4wp-admin .row .col-5 {
    width: 83.333%; }
  #mc4wp-admin .row .col-6 {
    width: 100%; }
  @media (max-width: 1200px) {
    #mc4wp-admin .row .col {
      width: 100%;
      float: none;
      margin: 20px 0; } }
  #mc4wp-admin .status {
    display: inline-block;
    margin-left: 1em;
    padding: 3px 6px;
    color: white;
    font-size: 12px;
    font-weight: bold; }
    #mc4wp-admin .status.positive {
      background-color: limeGreen; }
    #mc4wp-admin .status.negative {
      background-color: red; }
    #mc4wp-admin .status.neutral {
      background: gray; }
  #mc4wp-admin .valigntop {
    vertical-align: top !important; }
  #mc4wp-admin .medium-margin {
    margin: 40px 0; }
  #mc4wp-admin .small-margin {
    margin: 20px 0; }
  #mc4wp-admin .tab {
    display: none; }
  #mc4wp-admin .tab.tab-active {
    display: block; }
  #mc4wp-admin .tab h2 {
    margin-top: 20px; }
  #mc4wp-admin .field-wizard h3 {
    margin-top: 0; }
  #mc4wp-admin .field-wizard code {
    margin-left: 10px; }
  #mc4wp-admin .field-wizard > p {
    margin: 15px 0; }
  #mc4wp-admin .field-wizard label {
    font-weight: 600;
    display: block; }
  #mc4wp-admin .field-wizard input {
    margin-bottom: 6px; }
  #mc4wp-admin .field-wizard .cb-wrap {
    font-weight: normal; }
    #mc4wp-admin .field-wizard .cb-wrap input {
      margin-right: 6px; }
  #mc4wp-admin .available-fields {
    border: 1px solid #ccc;
    padding: 20px;
    background: white; }
    #mc4wp-admin .available-fields strong {
      display: block;
      margin-bottom: 10px; }
    #mc4wp-admin .available-fields button {
      margin: 0 6px 6px 0; }
  #mc4wp-admin .page-title {
    background: url("../img/icon-large.png") no-repeat left center;
    padding-left: 42px;
    line-height: 32px;
    margin-bottom: 20px; }
  #mc4wp-admin .page-title-action .dashicons,
  #mc4wp-admin .button .dashicons,
  #mc4wp-admin .button-secondary .dashicons {
    vertical-align: middle;
    line-height: 16px;
    margin: 0 4px 0 0; }
  #mc4wp-admin .form-table td p {
    margin-top: 1em; }
  #mc4wp-admin .CodeMirror {
    border: 1px solid #333;
    height: auto; }
  #mc4wp-admin .CodeMirror-empty {
    color: #999;
    height: 200px; }
  #mc4wp-admin .sidebar {
    border-left: 1px solid #ccc; }

.overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  max-width: 480px;
  position: fixed;
  width: 100%; }

.overlay-content {
  padding: 20px;
  width: 100%;
  max-width: 480px;
  background: #fefefe;
  border: 1px solid black;
  height: 400px;
  overflow-y: scroll;
  position: relative; }
  .overlay-content .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
    padding: 5px; }
  .overlay-content .close:hover {
    opacity: 1; }

.overlay-background {
  z-index: 99999;
  background: rgba(0, 0, 0, 0.67);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

.pro-feature,
.mc4wp-settings tr.pro-feature th,
.mc4wp-settings tr.pro-feature td {
  color: #aaa; }

.mc4wp-notice {
  padding: 6px 12px;
  color: #31708f;
  background: #d9edf7;
  border: 1px solid #bce8f1;
  margin: 1em 0 !important; }

.mc4wp-help tr:hover {
  background-color: #ddd; }

/** Lists Overview */
.mc4wp-lists-overview {
  border-collapse: collapse;
  background: white;
  padding: 20px;
  max-height: 500px;
  overflow-y: scroll; }

.mc4wp-lists-overview table {
  border: 0; }

.mc4wp-lists-overview th {
  font-weight: bold;
  vertical-align: top; }

.mc4wp-lists-overview th,
.mc4wp-lists-overview td {
  border: 1px solid #efefef; }

.mc4wp-lists-overview h3 {
  margin: 0 !important; }

/*# sourceMappingURL=admin-styles.css.map */
