.mc4wp-form input[name^="_mc4wp_honey"] {
  display: none !important; }

/* Mailchimp for WP - Default Form Styles */
.mc4wp-form-basic,
.mc4wp-form-theme {
  margin: 1em 0;
  /* Form Elements */
  /* Remove font-weight bold from nested elements */
  /* Alert */ }
  .mc4wp-form-basic,
  .mc4wp-form-basic label,
  .mc4wp-form-basic input,
  .mc4wp-form-theme,
  .mc4wp-form-theme label,
  .mc4wp-form-theme input {
    width: auto;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: auto;
    height: auto;
    vertical-align: baseline;
    line-height: normal; }
  .mc4wp-form-basic:after,
  .mc4wp-form-theme:after {
    content: "";
    display: table;
    clear: both; }
  .mc4wp-form-basic label,
  .mc4wp-form-theme label {
    font-weight: bold;
    margin-bottom: 6px;
    display: block; }
  .mc4wp-form-basic input.placeholdersjs,
  .mc4wp-form-theme input.placeholdersjs {
    color: #aaa !important; }
  .mc4wp-form-basic input[type="text"],
  .mc4wp-form-basic input[type="email"],
  .mc4wp-form-basic input[type="tel"],
  .mc4wp-form-basic input[type="url"],
  .mc4wp-form-basic input[type="date"],
  .mc4wp-form-basic textarea,
  .mc4wp-form-basic select,
  .mc4wp-form-theme input[type="text"],
  .mc4wp-form-theme input[type="email"],
  .mc4wp-form-theme input[type="tel"],
  .mc4wp-form-theme input[type="url"],
  .mc4wp-form-theme input[type="date"],
  .mc4wp-form-theme textarea,
  .mc4wp-form-theme select {
    min-height: 32px;
    width: 100%;
    max-width: 480px; }
  .mc4wp-form-basic input[type="number"],
  .mc4wp-form-theme input[type="number"] {
    min-width: 40px; }
  .mc4wp-form-basic input[type="checkbox"],
  .mc4wp-form-basic input[type="radio"],
  .mc4wp-form-theme input[type="checkbox"],
  .mc4wp-form-theme input[type="radio"] {
    position: relative;
    margin: 0 6px 0 0;
    padding: 0;
    height: 13px;
    width: 13px;
    display: inline-block;
    border: 0; }
  .mc4wp-form-basic input[type="checkbox"],
  .mc4wp-form-theme input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox; }
  .mc4wp-form-basic input[type="radio"],
  .mc4wp-form-theme input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio; }
  .mc4wp-form-basic input[type="submit"],
  .mc4wp-form-basic button,
  .mc4wp-form-basic input[type="button"],
  .mc4wp-form-theme input[type="submit"],
  .mc4wp-form-theme button,
  .mc4wp-form-theme input[type="button"] {
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .mc4wp-form-basic label > span,
  .mc4wp-form-basic li > label,
  .mc4wp-form-theme label > span,
  .mc4wp-form-theme li > label {
    font-weight: normal; }
  .mc4wp-form-basic .mc4wp-alert,
  .mc4wp-form-theme .mc4wp-alert {
    color: #c09853;
    clear: both; }
  .mc4wp-form-basic .mc4wp-success,
  .mc4wp-form-theme .mc4wp-success {
    color: #468847; }
  .mc4wp-form-basic .mc4wp-notice,
  .mc4wp-form-theme .mc4wp-notice {
    color: #3a87ad; }
  .mc4wp-form-basic .mc4wp-error,
  .mc4wp-form-theme .mc4wp-error {
    color: #CD5C5C; }

/* Right-To-Left specific styles */
.rtl .mc4wp-form-reset input[type="checkbox"],
.rtl .mc4wp-form-reset input[type="radio"] {
  margin: 0 0 0 6px; }
