.mc4wp-form input[type="submit"], .mc4wp-form button {
	color: #333333 !important;
  	background-color: #ffffff;
  	border-color: #E6E6E6;
}

.mc4wp-form input[type="submit"]:hover, .mc4wp-form button:hover,
.mc4wp-form input[type="submit"]:active, .mc4wp-form button:active,
.mc4wp-form input[type="submit"]:focus, .mc4wp-form button:focus {
	color: #E6E6E6;
 	background-color: #ebebeb;
  	border-color: #CCCCCC;
}