/* Form base theme */
form.mc4wp-form,
.mc4wp-form form {
	box-shadow: none !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	width: auto;
}

.mc4wp-form p {
  margin: 0 0 15px !important;
  padding: 0;
}

.mc4wp-form label{
  font-size:1em;
  margin:6px 0;
}

.mc4wp-form input[type="text"],
.mc4wp-form input[type="email"],
.mc4wp-form input[type="tel"],
.mc4wp-form input[type="url"],
.mc4wp-form input[type="date"],
.mc4wp-form textarea,
.mc4wp-form select {
  width: 100%;
  height: 34px;
  margin: 0;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image: none;
  text-shadow: none;
}

.mc4wp-form input[type="text"]:focus,
.mc4wp-form input[type="email"]:focus,
.mc4wp-form input[type="tel"]:focus,
.mc4wp-form input[type="url"]:focus,
.mc4wp-form textarea:focus,
.mc4wp-form select:focus {
  border-color: #66afe9;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.mc4wp-form textarea{
  height: auto;
}

.mc4wp-form input[readonly],
.mc4wp-form input[disabled] {
  background-color: #eeeeee;
}

.mc4wp-form input[type="submit"],
.mc4wp-form button {
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-shadow: none;
  background: none;
  text-shadow: none;
  filter: none;
  height: auto;
  width: auto;
}

.mc4wp-form input[type="submit"]:focus,
.mc4wp-form button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.mc4wp-form input[type="submit"]:hover,
.mc4wp-form button:hover,
.mc4wp-form input[type="submit"]:focus,
.mc4wp-form button:focus {
  color: #333333;
  text-decoration: none;
	background: none;
}

.mc4wp-form input[type="submit"]:active,
.mc4wp-form button:active {
  background-image: none;
  outline: 0;
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}